<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portada</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <style>
        body {
            background-color: #f8f9fa;
        }
        .container {
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            padding: 30px;
            margin-top: 50px;
        }
        h4, h5 {
            text-align: center;
            margin-bottom: 10px;
        }
        hgroup {
            text-align: center;
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <h4>UNIVERSIDAD AUTONOMA DEL ESTADO DE MEXICO</h4>
    <h4>CENTRO UNIVERSITARIO UAEM ATLACOMULCO</h4>
    <h4>Computer Engineering</h4>
    <h4>English VII</h4>
    <img src="/img/Logo.svg" class="rounded mx-auto d-block" alt="Logo de la universidad" width="250px">
    <h4>Student's Names:</h4>
    <h5>Ana Laura Estanislao Lovera</h5>
    <h5>Jhoshuan Elizalde Marcial</h5>
    <h5>Zejoshua Hernandez Gomez</h5>
    <h5>Alexis Valencia Martinez</h5>
    <h5>Diego Chavez Hernandez</h5>
    <h4>Teacher's Name:</h4>
    <h5>Victor Manuel Pedraza Contreras</h5>
    <h5>Group ICO-27</h5>
    <h4>Delivery Day</h4>
    <h5>Tuesday 21 May 2024</h5>
</div>

<hgroup>
    <p>Links</p>
    <div class="d-grid gap-2 d-md-block">
        <a type="button" class="btn btn-outline-primary" href="show">List Adjective</a>
        <a type="button" class="btn btn-outline-info" href="AdjectiveForms">Adjective with example use</a>
        <a type="button" class="btn btn-outline-success" href="add">Add New Adjective</a>
    </div>
</hgroup>

</body>
</html>
